label {
    display: flex;
    padding-right: 20px;
    flex-direction: column;
    justify-content: flex-start;
    font-weight: 400;
    font-size: 24px; 
}

.exit{
color: #2E80E0;
}

.email{
    margin-left: 200px;
}

.email-input{
    height: 33px;
    width: 357px;
}

.address{
    margin-left: 200px;
}

.address-input{
    height: 108px;
    width: 682px;
    margin-top: 25px;
    margin-bottom: 20px;
    background-color: #f2f2f2;
    border: none;
}

.form-left{
    margin-left: 200px;
    padding-right: 20px;
    /* padding-bottom: 1.5%; */
}

.first-line{
    display: flex;
    flex-direction: row; 
    gap: 10px;
}

.end-line{
    display: flex;
    flex-direction: row; 
    gap: 200px;
}

.first-name{
    display: flex;
    flex-direction: row;
}

.top {
    margin-left: 30px;
    display: flex;
    flex-direction: row;
    gap: 120px; 
    font-size: 23px;
}

input{
    margin-top: 25px;
    margin-bottom: 20px;
    height: 33px;
    width: 242px;
    background-color: #f2f2f2;
    border: none;
}

.submit{
    margin-left: 500px;
    font-size: 24px;
    height: 52px;
    width: 182px;
}

.submit{
    margin-left: 500px;
    font-size: 24px;
    height: 52px;
    width: 182px;
}

.logout{
    /* font-size: 22px; */
    background-color:#e6e4e4 ;
    height: 52px;
    width: 182px;
    margin-top: 25px;
    /* margin-left: 500px; */
}

.logout-text{
    margin-top: 12px;
    margin-left: 42px;
    font-size: 24px;
    font-weight: 600;

}

.bottom{
    display: flex;
    flex-direction: row;
    gap: 30px;
}

