*{
    background-color:  #F9FBFF;
 }

label {
    display: flex;
    padding-right: 20px;
    flex-direction: column;
    justify-content: flex-start;
    font-weight: 400;
    font-size: 24px; 
}

.exit{
 color: #555763;
}

.email{
    margin-left: 200px;
}

.email-input{
    height: 33px;
    width: 357px;
}

.address{
    margin-left: 200px;
}

.address-input{
    height: 108px;
    width: 682px;
    margin-top: 25px;
    margin-bottom: 20px;
    background-color: white;
    border: 1px solid #646464;
}

.form-left{
    margin-left: 200px;
    padding-right: 20px;
    /* padding-bottom: 1.5%; */
}

.first-line{
    display: flex;
    flex-direction: row; 
    gap: 10px;
}

.end-line{
    display: flex;
    flex-direction: row; 
    gap: 200px;
}

.first-name{
    display: flex;
    flex-direction: row;
}

.top {
    margin-left: 30px;
    display: flex;
    flex-direction: row;
    gap: 120px; 
    font-size: 23px;
}

input{
    margin-top: 25px;
    margin-bottom: 20px;
    height: 33px;
    width: 242px;
    background-color: white;
    border: 1px solid #646464;
   
}



.submit{
    color: white;
    margin-left: 500px;
    font-size: 20px;
    height: 52px;
    width: 182px;
    background-color: #555763;
    border-radius: 8px;
}


.logout {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px; /* Adjust font size as needed */
    font-weight: 500;
    font-family: sans-serif;
    color: white;
    background-color: #555763;
    border-radius: 8px;
    height: 52px;
    width: 182px;
    margin-top: 25px;
    cursor: pointer;
}


/* .logout-text{
  
    margin-top: 12px;
    margin-left: 42px;
    font-size: 20px;
    font-weight: 600;

} */

.bottom{
    display: flex;
    flex-direction: row;
    gap: 30px;
}

