*{
    background-color:  #F9FBFF;
}

.exit{
    /* margin-top: 0px; */
    /* margin-bottom: 0px; */
    margin-left: 20px;
    margin-top:40px;
    color: #555763;
}
.create-form-top-create{
    margin-right: 30%;
    margin-left: 30%;
    padding-right: 20px;
    font-size: 48px;
}

.create-form-top{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

label{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    font-size: 22px;
    margin-left: 238px;
    font-weight: 500;
    margin-bottom: 10px;
}

.org-name{
    width: 632px;
    height: 39px;
    border: none;
    background-color: white;
    border-radius: 5px;
    border: 1px solid #646464;
    margin-top: 12px;
   
}

.org-about{
    border: none;
    background-color: white;
    border-radius: 5px;
    border: 1px solid #646464;
    margin-top: 20px;
    height: 230px;
    width: 1093px;
}

.submit{
    background-color: #555763;
    border-radius: 8px;
    color: white;
    margin-left: 35%;
    width: 470px;
    height: 60px;
    border: none;
    font-size: 22px;
}

