.org-ind{
    height: 46px;
    width: 272px;
    color: white;
    background-color: black;
    /* background-color: #c0d6fa; */
    display: flex;
    /* flex-direction: row; /* Change this line */
    align-items: center; 
  
    margin-bottom: 10px;
    margin-left: 18px;
    border-radius: 5px;
}

.org-ind-circle{
    margin-left:10px;
    
}

.org-ind-name{
    margin-left: 55px;
    font-weight: lighter;
}

.org-ind-org-selected {
    background-color: white !important;
    color: black !important;
    font-weight: bold;
}