.org-ind{
    height: 46px;
    width: 292px;
    background-color: #D9D9D9;
    /* background-color: #c0d6fa; */
    display: flex;
    flex-direction: row; /* Change this line */
    align-items: center; /* Adjust this as needed */
    gap: 1vh;
    margin-bottom: 10px;
    margin-left: 18px;
}

.org-ind-circle{
    margin-left:10px;
    
}

.org-ind-name{
    font-weight: lighter;
}

.org-selected {
    /* Add your selected organization styling here */
   
    font-weight: bold; /* Example font weight */
}
