.create{
    background-color: #D9D9D9;
    width: 213px;
    height: 48px;
    font-size: 16px;
    margin-top: 600px;
    margin-left: 40px;
}

.create-text{
    margin-top: 50px;
    margin-left: 25px;
}