
html, body, header {
    margin: 0;
    padding: 0;
    height: 100%;
}
.auth-page{
    background-image:  url('/mainpage-background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
}
.form-filler-name{
     font-family: kadwa;
     font-weight: bold;
     font-size: 60px;
     padding-right: 35%;
     padding-left: 35%;
     margin-bottom: 10px;
}

a {
    color: #2E80E0;
}

h3 {
    font-weight: lighter;
    padding-right: 37%;
    padding-left: 37%; 
    margin-top: 0;
    padding-top: 0;
    font-size: 20px;
}

label {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    font-weight: 300;
    font-size: 22px;
    padding-right: 26%;
    padding-left: 29%; 
    padding-bottom: 1.5%;
}

.form-input {
    font-size: 24px;
    font-weight: lighter;
    margin-top: 2%;
    border:  1px solid rgb(113, 113, 113); 
    background-color: white;
    border-radius: 5px;
 /* You may need to change the text color for visibility */
    height: 50px;
    width: 530px;
}

form{
    margin-top:50px;
}

.submit{
   font-size: 22px;
    margin-left: 29%; 
    margin-right: 26%;
    margin-top: 8%;
    border: none;
    border-radius: 8px;
    background-color: #555763;
    color: white; /* You may need to change the text color for visibility */
    height: 55px;
    width: 530px;
    transition: box-shadow 0.3s ease;
   
}

.submit:active {
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5); /* Add box shadow when button is clicked */
}