.individual{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-top: -10px;
    /* border-radius: 8px; */
    /* border-bottom: 1px solid gray; */
    /* border: 1px solid gray; */
    /* font-family: sans-serif; */
}
.dot{
    height: 35px;
    width: 35px;
    margin-top: 15px;
    color: rgb(125, 177, 246);
}

.assigned{
    margin-top: 20px;
    margin-left: 300px;
    height: 30px;
    width: 40px;
   
}

.responses{
    margin-top: 20px;
    margin-left: 10px;
    height: 30px;
    width: 40px;

}