.individual{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-top: -10px;
    /* border-radius: 8px; */
    /* border-bottom: 1px solid gray; */
    /* border: 1px solid gray; */
    /* font-family: sans-serif; */
}
.dot{
    height: 35px;
    width: 35px;
    margin-top: 15px;
    color: rgb(125, 177, 246);
}

.buttons {
    margin-left: auto; /* Move buttons to the right */
    display: flex; /* Ensure buttons are in a flex container */
    align-items: center; /* Align buttons vertically */
}

.assigned, .responses {
    height: 30px;
    width: 40px;
}

.responses {
    margin-left: 10px; /* Add some space between buttons */
}