*{
   
    /* font-weight: lighter; */
    font-weight: lighter;
}
.top{
    background-color:  #F9FBFF;
    display: flex;
    gap: 30px;
}
.assign-form{
    background-color: black;
    color: white;
    border-radius: 30px;
    border-top-left-radius: none;
    margin-left: 50px;
    padding: 20px;
    height: 650px;
}

.form-name{
    font-weight: bold;
    font-size: 24px;
}
.assign-text{
    display: flex;
    margin-bottom: -10px;
}

.dot{
    height: 30px;
    width: 30px;
    margin-top: 20px;
    color: rgb(125, 177, 246);
}

.exit{
    margin-top: 35px;
}

.form-input{
    width: 190px;
    height: 25px;
    border-radius: 4px;
    border: 1px solid gray;
}

.submit{
    height: 30px;
}
